:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color-text: #f32121;
  --logo-text-color: #000000;
  --white-color: #ffffff;
  --background-footer-color: #2f303a;
  --hover-button: #e81818;
  --secondary-backgraund-color: #f5f4fa;
  --icon-color: #afb1b8;
}
